<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.drivesync.uninstall-helper</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Library/PrivilegedHelperTools/com.drivesync.uninstall-helper</string>
    </array>

    <key>MachServices</key>
    <dict>
        <key>com.drivesync.uninstall-helper</key>
        <true/>
    </dict>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
